{% extends "base.html" %} {% block content %}
<div class="content p-4">
    <div class="text-align: center">
        <h5 "> Entry #{{entry.id}} </h5>
    </div>



  <div class=" card txn-details ">
      <div class="card-content p-3 ">
        <div class="d-flex justify-content-between ">
          <span> <h5>From :</h5> {{ entry.from_account.name }} <br />
          <h5>phone number</h5>{{entry.from_account.phone}}</span>
          <span>
            <h5>TO :</h5> {{entry.to_account.name}}<br />
           <h5>phone number</h5>{{entry.to_account.phone}}<br/>
          </span>
        </div>
       <div style=" text-align:center "> 
             <h5> Amount transfered </h5>
             <p>{{"% .2f "|format(entry.amount) }}</p>
       </div>
        <div>
            <h5>Description -</h5>
             {{ entry.description }} 
        </div> 
      </div>
  </div>
</div>
{% endblock %}