{% extends "base.html" %} {% block content %}
<div class="content p-md-3">
    <div class="d-flex flex-row justify-content-between p-md-3">
        <h4 class="mb-1">Entries</h4>
        <a href="{{url_for('entry.create')}}">Create Entry</a>
    </div>
    {% if account %}
    <div class="mb-2 mt-md-1 p-md-3">
        Showing entries of &nbsp;
        <button style="border-right: unset; margin-right: -5px; cursor: unset;" class="btn btn-sm btn-outline-info"> 
                    {{ account.name }}  
                </button>
        <a style="border-left: unset;" href="{{url_for('entry.index')}}" class="btn btn-sm btn-outline-info">X</a>
    </div>
    {% endif %}
    <div class="widget card flex-row shadow mb-3 bg-white rounded p-md-3">
        <section class="card-body">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th> Created at</th>
                        <th> From </th>
                        <th> To </th>
                        <th> Credit </th>
                        <th> Debit </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>
</div>
{% endblock %} {% block script %}
<script>
    $(document).ready(function() {
        function newexportaction(e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function(e, s, data) {
                data.start = 0;
                data.length = 2147483647;
                dt.one('preDraw', function(e, settings) {
                    if (button[0].className.indexOf('buttons-copy') >= 0) {
                        $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                        $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                    }
                    dt.one('preXhr', function(e, s, data) {
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    setTimeout(dt.ajax.reload, 0);
                    return false;
                });
            });
            dt.ajax.reload();
        };

        $('#data').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'csv',
                text: 'Export CSV',
                action: newexportaction,
                exportOptions: {
                    modifier: {
                        search: 'applied',
                        order: 'applied'
                    }
                }
            }],
            responsive: true,
            serverTable: true,
            ajax: '/entries/entries-json' + window.location.search,
            serverSide: true,
            columns: [{
                data: function(row, type, val, meta) {
                    return new Date(row.createdDateLocalized).toLocaleString()
                }
            }, {
                data: 'fromAccount.name',
                searchable: false
            }, {
                data: 'toAccount.name'
            }, {
                data: (row, type, val, meta) => row.type === 'credit' ? row.amount : ''
            }, {
                data: (row, type, val, meta) => row.type === 'debit' ? row.amount : ''
            }, {
                sortable: false,
                searchable: false,
                data: function(row, type, val, meta) {
                    return `<a type="button" href="/entries/${row.id}" class="btn btn-sm btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
</svg>
                Show
              </a>`;
                }
            }],
        });
    });
</script>
{% endblock %}