{% extends "base.html" %} {% block content %}
<div class="content">
    <div class="d-flex flex-row justify-content-between p-3">
        <h4 class="mb-4">Ledger</h4>
        <a href="{{url_for('entry.create')}}">Create Entry</a>
    </div>
    <div class="widget card flex-row shadow p-3 mb-3 bg-white rounded">
        <section class="card-body">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th> Created at</th>
                        <th> From </th>
                        <th> To </th>
                        <th> Credit </th>
                        <th> Debit </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>
</div>
{% endblock %} {% block script %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            responsive: true,
            serverTable: true,
            ajax: '/entries/entries-json' + window.location.search,
            serverSide: true,
            columns: [{
                data: function(row, type, val, meta) {
                    return new Date(row.createdDateLocalized).toLocaleString()
                }
            }, {
                data: 'fromAccount.name',
                searchable: false
            }, {
                data: 'toAccount.name'
            }, {
                data: (row, type, val, meta) => row.type === 'credit' ? row.amount : ''
            }, {
                data: (row, type, val, meta) => row.type === 'debit' ? row.amount : ''
            }, {
                sortable: false,
                searchable: false,
                data: function(row, type, val, meta) {
                    return `<a type="button" href="/entries/${row.id}" class="btn btn-sm btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
</svg>
                Show
              </a>`;
                }
            }],
        });
    });
</script>
{% endblock %}