{% extends "base.html" %}
{% block content %}
<div class="content p-4">
  <h4 class="mb-4">Profile</h4>
  <div class="widget card flex-row">
    <div>
      <ul class="nav nav-pills flex-column" style="padding-right: 30px; padding-top: 20px;">
        <li class="nav-item mt-1">
          <a class="nav-link" aria-current="page" href="{{url_for('auth.profile')}}">Basic Info</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link active" aria-current="page" href="{{url_for('auth.change_password')}}">Change Password</a>
        </li>
      </ul>
    </div>
    <section class="card-body">
      {% from "_formhelpers.html" import render_field %}
      <form action="{{url_for('auth.change_password')}}" method="POST">
        <fieldset>
          <div class="mb-3">
            {{ render_field(form.current_password, class_='form-control', type="password") }}
          </div>
          <div class="mb-3">
            {{ render_field(form.password, class_='form-control') }}
          </div>
          <div class="mb-3">
            {{ render_field(form.confirm, class_='form-control') }}
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update Password</button>
            <a class="btn" href="{{url_for('index')}}">Cancel</a>
          </div>
        </fieldset>
      </form>
    </section>
  </div>
</div>
{% endblock %}