{% extends "base.html" %}
{% block content %}
<div class="content p-4">
  <h4 class="mb-4">Profile</h4>
  <div class="widget card flex-row">
    <div>
      <ul class="nav nav-pills flex-column" style="padding-right: 30px; padding-top: 20px;">
        <li class="nav-item mt-1">
          <a class="nav-link active" aria-current="page" href="{{url_for('auth.profile')}}"> Basic Info</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link" aria-current="page" href="{{url_for('auth.change_password')}}">Change Password</a>
        </li>
      </ul>
    </div>
    <section class="card-body">
      <form method="post" action="{{url_for('auth.profile')}}">
        <fieldset>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Name</label>
            <input type="text" name="name" id="disabledTextInput" class="form-control" value="{{user.name}}" />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Email</label>
            <input type="email" name="email" id="disabledTextInput" class="form-control disabled" disabled
              value="{{user.email}}" />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Currency symbol</label>
            <input type="text" name="currency_symbol" id="disabledTextInput" class="form-control"
              value="{{user.currency_symbol}}" />
          </div>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Timezone</label>
            <select name="timezone" class="form-select" id="timezone-select">
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
          <a class="btn" href="{{url_for('index')}}">Cancel</a>
        </fieldset>
      </form>

      <section class="mt-4 d-flex justify-content-end">
        <form action="{{url_for('auth.delete')}}" method="post" id="deleteForm">
          <button type=" submit" class="btn btn-outline-danger">Delete account</a>
        </form>
      </section>
    </section>
  </div>
</div>

<script src="/static/js/timezones.full.min.js"></script>
<script>
  $('#timezone-select').timezones();
  $(document).ready(function () {
    $('#timezone-select > option').each(function () {
      if ($(this).val() == "{{ current_user.timezone }}") {
        $(this).attr('selected', 'selected');
      }
    });
  });
</script>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $('#deleteForm').on('submit', (e) => {
      let sure = confirm('Are you sure ? \n\nYou can not undo this action later, this will remove all your data permanently.');
      console.log('sure', sure);
      if (!sure) {
        e.preventDefault();
      }
    })
  })
</script>
{% endblock %}