{% extends "base-public.html" %} {% block content %}

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">

    <!--================================
=            Page Title            =
=================================-->

    <section class="section page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <!-- Page Title -->
                    <h1> Accountax features</h1>
                </div>
            </div>
        </div>
    </section>

    <!--====  End of Page Title  ====-->


    <!--=================================
=            FAQ Section            =
==================================-->
    <section class="faq section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="block shadow">
                        <!-- Getting Started -->
                        <div class="faq-item">
                            <!-- Title -->
                            <div class="faq-item-title">
                                <h2>
                                    Getting Started
                                </h2>
                            </div>
                            <!-- Get Started Accordion -->
                            <div id="gstAccordion" data-children=".item">
                                <!-- Accordion Item 01 -->
                                <div class="item-link">
                                    <h4># Signup </h4>
                                    <div>
                                        <img class="img-fluid" src="/static/images/signup.png" alt="screenshot">
                                    </div>
                                    <P>
                                        Fill all details and click on signup button.

                                    </P>
                                    <div style="margin-top: 40px;">
                                        <h4># Onboarding</h4>
                                        <div>
                                            <img class="img-fluid" src="/static/images/onboarding.png" alt="screenshot">
                                        </div>

                                        <P>
                                            When you login first time you above form where you get can chose your currency symbol</br>
                                            and timezone.it is one time process.

                                        </P>
                                    </div>
                                    <div style="margin-top: 40px;">
                                        <h4># Adding account</h4>
                                        <div>
                                            <img class="img-fluid" src="/static/images/add.png" alt="screenshot">
                                        </div>
                                        <div>
                                            <img class="img-fluid" src="/static/images/add2.png" alt="screenshot">
                                        </div>
                                        <P>
                                            click on Add account</br>
                                            This feature will allow the app users to include the customer details and it is a one-time task.</br>
                                            This is similar to making an entry of each customer on an individual page of a manual accounting book.
                                        </P>

                                    </div>
                                    <div style="margin-top: 40px;">
                                        <h4># Create Entry</h4>
                                        <div>
                                            <img class=" img-fluid " src="/static/images/entries2.png " alt="screenshot ">
                                        </div>
                                        <div>
                                            <img class=" img-fluid " src="/static/images/entries.png " alt="screenshot ">
                                        </div>

                                        <p>
                                            click on create entry </br>
                                            In this feature you include all transactions that happen with other persons.</br>
                                            you can explain the transaction with the amount paid, or received with purpose.</br>
                                            Now that you have added the Accounts you can select on the name to add the transactions

                                        </p>
                                    </div>
                                    <div style="margin-top: 40px;">
                                        <h4># Show </h4>
                                        <div>
                                            <img class="img-fluid " src="/static/images/entries1.png " alt="screenshot ">
                                        </div>
                                        <div>
                                            <img class="img-fluid " src="/static/images/show.png " alt="screenshot ">
                                        </div>
                                        <p>
                                            click on show </br>
                                            In this feature you can see full detail of entry amount paid, or received with purpose.
                                        </p>
                                    </div>
                                    <div style="margin-top: 40px;">
                                        <h4># Transactions</h4>
                                        <div>
                                            <img class="img-fluid " src="/static/images/transactions.png " alt="screenshot ">
                                        </div>
                                        <div>
                                            <img class="img-fluid " src="/static/images/transactions2.png " alt="iphone-ipad ">
                                        </div>
                                    </div>
                                    <p>
                                        when you click on transactions </br>
                                        you find all transactions related to that account.
                                    </p>
                                </div>
                                <div style="margin-top: 40px;">
                                    <h4># Export csv file</h4>
                                    <div>
                                        <img class="img-fluid " src="/static/images/exportcsv.png " alt="screenshot ">
                                    </div>

                                    <p>
                                        click on Export csv </br>
                                        you can download your entries in csv file</br>
                                        if search is applied then you find search entries as csv othervise you find total entries.</br>
                                    </p>
                                </div>
                                <div>
                                    <div style="margin-top: 40px;">
                                        <h4># Dashboard</h4>
                                        <div>
                                            <img class="img-fluid " src="/static/images/dashboard.png " alt="screenshot ">
                                        </div>

                                        <p>
                                            On dashboard you will see total amount you paid(debit)/recived(credit),abilable balance</br>
                                            and latest five entries at present time.</br>
                                        </p>
                                    </div>
                                    <div style="margin-top: 40px;">
                                        <h4># update profile & change password</h4>
                                        <div>
                                            <img class="img-fluid " src="/static/images/profile.png " alt="screenshot ">
                                        </div>
                                        <div>
                                            <img class="img-fluid " src="/static/images/changepassword.png " alt="screenshot ">
                                        </div>
                                        <p>
                                            click on profile </br>
                                            you can change any details related to your profile. </br>
                                            click on change password botton to change your password. </br>


                                        </p>
                                    </div>
                                    <div style="margin-top: 40px;">
                                        <h4># Delete account</h4>
                                        <div>
                                            <img class="img-fluid " src="/static/images/delete.png " alt="screenshot ">
                                        </div>
                                        <p>
                                            click on profile</br>
                                            Just in case you want to close the accountx to clear your transactions and start a new one,</br>
                                            then you can quickly click on the Delete option and close your account. It is always possible to create or delete an account any time you wish to.
                                        </p>
                                    </div>
                                </div>






                                <!-- Getting Started Accordion -->
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!--====  End of FAQ Section  ====-->




    {% endblock %}